.App {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 219, 208);
    height: 350%;
    position: absolute;
    right:0;
    left:0;
    width: 100%;
    overflow:hidden;

  }
  .circle {
    /* display: flex; */
    position:absolute;
    width: 500px;
    height: 500px;
    background-color: rgb(250, 223, 74);
    /* background-color: rgb(98, 87, 253); */
    border-radius: 50%;
  }
  .text {
    margin: auto;
  }
  #title {
    position: absolute;
    
  }